---
import Layout from '../layouts/Layout.astro'
import { CardContainer } from '../components/CardContainer'
---

<Layout title='Sum Time'>
  <main>
    <h1><span class='text-gradient'>Sum Time</span></h1>
    <p class='instructions'>
      Here you can sum two or more times in <code>hh:mm:ss</code> format:
      <br />
      For example, if you sum <code>01:00:00</code> + <code>00:30:00</code>, you
      will get <code>01:30:00</code>.
    </p>
    <CardContainer client:only />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 70%;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
</style>
